<h1>{{title}}</h1>
<ul>
  <li ng-class="{'special': friend.isSpecial}" ng-repeat="friend in friends">
    <input type="text" ng-model="friend.name"> <!-- maps to item in the scope -->
    <input type="text" ng-model="friend.age">
    <button ng-click="friends.splice($index,1)" class="btn btn-danger">-</button>
  </li>
</ul>

<!-- Two-way data binding between the view and the controler -->
<input type="text" ng-model="title"> <!-- access values in the controler -->
<input type="text" ng-model="myValue"> {{myValue}} <!-- create new values in conroller -->

<div ng-repeat="friend in friends">
  <contact-card friend="friend" id="$index" title="'Contact Card'"></contact-card>

  <!-- <div contact-card></div>
  <div data-contact-card></div> -->
</div>

<!-- populate a dropdown menus selected selectedValue from conoller-->
<select ng-model="selectedValue" ng-options="value for value in items"></select>

<!-- ng-click -->
<button ng-click="save()" class="btn btn-primary">Save</button>
